* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Allura";
  src: url("../assets/fonts/Allura-Regular.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Roboto-light";
  src: url("../assets/fonts/Roboto-Light.ttf");
}

@font-face {
  font-family: "Josefin";
  src: url("../assets/fonts/JosefinSans-Regular.ttf");
}

$font-allura: "Allura", sans-serif;
$font-roboto: "Roboto-light", sans-serif;
$font-poppins: "Poppins", sans-serif;
$font-josefin: "Josefin", sans-serif;

$white1: #ffffff;
$white2: #b2b1b1;
$black1: #000;
$black2: #222122;
$gold: #fbdf9f;

html {
  background: #000000;
  scroll-behavior: smooth;
}

body {
  color: $white1 ;
}

li, a {
  list-style: none;
  text-decoration: none;
}