header {
  text-align: center;
  margin: 50px auto;
  height: 90vh;

  h1 {
    font-family: $font-roboto;
    font-weight: 100;
    letter-spacing: 1px;
    padding-bottom: 10px;
    font-size: 1.5rem;
  }
  h2 {
    font-family: $font-allura;
    color: $gold;
    letter-spacing: 2px;
    font-weight: 100;
    font-size: 3rem;
  }

  img {
    padding: 50px;
  }

  p {
    font-family: $font-roboto;
    font-size: 1.5rem;
    font-weight: 100;
    letter-spacing: 1px;
    width: 60%;
    margin: 0 auto;
    line-height: 40px;
  }
}